<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:name="android.software.midi" android:required="false" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <application android:label="Pocket Synth" android:icon="@drawable/ic_launcher" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false">
        <activity android:name=".MainActivity" android:exported="true" android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".PlaybackService" android:exported="false" android:foregroundServiceType="mediaPlayback" />
        <service android:name=".SynthMidiService" android:exported="true" android:permission="android.permission.BIND_MIDI_DEVICE_SERVICE">
            <intent-filter><action android:name="android.media.midi.MidiDeviceService" /></intent-filter>
            <meta-data android:name="android.media.midi.MidiDeviceService" android:resource="@xml/midi_device_info" />
        </service>
    </application>
</manifest>
